.dnd{
  text-align: center;
}

.dnd-card-section{
    display: flex;
    justify-content: space-around;
}

.dnd-header{
    color: var(--darkest);;
    font-size: var(--base-font);
    font-weight: bold;
    padding: 20px 0 40px;
}

.dnd-bullet{
    width: 432px;
    font-size: var(--sub-font);
    height: 60px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.dnd-bullet--dark{
    background-color: rgba(31, 60, 136, 0.5);
}

.dnd-bullet--light{
    background-color: var(--light);
}

.dnd-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dnd-card-header{
    align-self: center;
    width: 180px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: var(--light);
    font-weight: bold;
    font-size: var(--base-font);
    bottom: -30px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .dnd-card-section{
        flex-direction: column;
        justify-content: center;

    }

    .dnd-bullet{
        width: 100vw; 
        padding-left: 0rem;
    }
}