@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

@import url('./dnd.css');
@import url('./service.css');
@import url('./rules.css');
@import url('./data-banner.css');
@import url('./footer.css');
@import url('./navbar.css');
@import url('./banner.css');
@import url('./message.css');
@import url('./faculty.css');
@import url('./about.css');

:root {
    --light: #F6F5F5;
    --medium: #EE6F57;
    --dark: #1F3C88;
    --darkest: #070D59;
    --base-font: 24px;
    --sub-font: 20px;
}

body{
    margin: 0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 1rem;
    color: var(--darkest);
}
